@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link href="~/css/login.css" rel="stylesheet" />
    <title>登录</title>
</head>

<body>
    <div>
        <img src="~/Image/X.jpg" />
        <img src="~/Image/N.jpg" class="imgleft" />
        @*<div class="dev1">
                <p>登录</p>
            </div>*@
    </div>
</body>
</html>
